.link1{
    text-decoration: none;
    color: red;
    background-color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: 2px solid red;
}

.link1:hover{

background-color: red;
color: white;

}